* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body{
    width: 1366px;
    height: 100%;
}

.navbar{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100vw;
    padding: 50px;
    align-items: center;
}

.navbar a{
    color: black;
}

.navbar .navlinks ul{
    display: flex;
}

.navbar .navlinks ul li{
    margin-left: 95px;
}

.navbar .logo{
    font-size: 3em;
}

h1{
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
}

.cl1 {
    width: 550px;
    float: left;
    text-align: center;
}

aside{
    margin-left: 650px;
    margin-top: 200px;
    text-align: center;
}
